@pink:#f99;

.div{
	color: @pink;.border;.radius(5px);
}
.border{
	border-top:1px solid #ff0;
	border-bottom:1px solid #f50;
	border-left:1px solid #2f0;
	border-right:1px solid #4a0;
}
.radius(@value){
	border-radius: @value;
} 